[submodule "third_party/grpc"]
	path = third_party/grpc
	url = https://github.com/grpc/grpc.git
[submodule "third_party/gtest"]
	path = third_party/gtest
	url = https://github.com/ni/googletest.git
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json.git
[submodule "third_party/utfcpp"]
	path = third_party/utfcpp
	url = https://github.com/nemtrif/utfcpp
[submodule "third_party/grpc-sideband"]
	path = third_party/grpc-sideband
	url = https://github.com/ni/grpc-sideband
