# Default code owner for the repository
* @jonlugoatx

# Owners for the build files
/CmakeLists.txt   @SparkingSpork @jonlugoatx
/.github/**/*.yml @SparkingSpork @jonlugoatx
/scripts/         @SparkingSpork @jonlugoatx

# Codegen
/source/codegen/ @reckenro @jonlugoatx

# Core server
/source/core_server/ @epetersoni @kylesull30 @jonlugoatx

# Test
/source/test/ @kylesull30 @jonlugoatx