name: Run Windows System Tests

on:
  workflow_call:
  workflow_dispatch:

jobs:
  run-tests:
    name: Run Tests
    runs-on:
    - self-hosted
    - windows
    - x64
    - grpcbot-win-10

    steps:
    - name: Download Tests Artifact
      uses: actions/download-artifact@v4
      with:
        name: ni-grpc-device-tests-windows-x64

    - run: ls -R
      working-directory: ./build/RelWithDebInfo

    - name: Run System Tests
      run: .\SystemTestsRunner.exe
      working-directory: ./build/RelWithDebInfo
      timeout-minutes: 50
