name: Validate Python Code

on:
  workflow_call:
  workflow_dispatch:

jobs:
  validate:
    name: Validate Python Code
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v4

    - name: Initialize ni-apis submodule
      run: |
        git submodule update --init third_party/ni-apis

    - name: Setup python3
      uses: actions/setup-python@v5
      with:
        python-version: '3.10.x'

    - name: Install build dependencies
      run: python -m pip install -r python_build_requirements.txt

    - name: Validate python style with ni-python-styleguide
      run: |
        ni-python-styleguide lint source/codegen/*.py examples

    - name: Install poetry for validate_examples.py
      uses: abatilo/actions-poetry@v3
      with:
        poetry-version: 1.8.2

    - name: Validate examples (except aio)
      run: |
        python source/codegen/validate_examples.py --exclude="-aio\.py$"
